# Conexión Oracle CloudClusters / Remota
DB_HOST=tu-host-de-cloudclusters.net
DB_PORT=1521
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_SERVICE_NAME=tu_service_name
# DB_SID=tu_sid # Descomentar y usar en vez de DB_SERVICE_NAME si CloudClusters provee un SID

# JWT Configuration
JWT_SECRET=super_secret_veris_key

# Server Port
PORT=8080
